/node_modules
/android/zebra-capacitor-jbay/.gradle
/android/zebra-capacitor-jbay/.idea
/android/zebra-capacitor-jbay/build
/android/zebra-capacitor-jbay/gradle
/android/.idea
.idea
/dist
package-lock.json
ios/Plugin/Plugin.xcworkspace/xcuserdata
